.cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    border-radius: 100%;
    border: 2px solid red;
    background: red;
    transition: 200ms ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 999;
}

.hidden {
    display: none;
    visibility: hidden;
}

.grow,
.grow-small {
    transform: scale(12);
    mix-blend-mode: difference;
    border: none;
}

.grow-small {
    transform: scale(2);
}

.cursor.idx2 {
    background: gold;
}