* {
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins', sans-serif;
    transition: .2s;
}

body {
    /* transition: background-color 0.5s, color 0.5s; */
    background-color: var(--background);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

body.dark-mode {
    --background: #161616;
    --card-background: #424242;
    --text-primary: #FFFFFF;
    --text-secondary: #B0B0B0;
    --primary-accent: #1976D2;
    --secondary-accent: #FFA000;
    --primary-button: #1976D2;
    --secondary-button: #FFA000;
    --border: #616161;
}

body.light-mode {
    --background: #FFFFFF;
    --card-background: #F5F5F5;
    --text-primary: #333333;
    --text-secondary: #757575;
    --primary-accent: #2196F3;
    --secondary-accent: #FFC107;
    --primary-button: #2196F3;
    --secondary-button: #FFC107;
    --border: #E0E0E0;
    /* Add light mode specific variables here if needed */
}

.wrapper {
    height: 100%;
    width: 100%;
}

.content {
    height: max-content;
    width: max-content;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center-parent {
    align-items: center;
    justify-content: center;
}

.center-children {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-x {
    margin: 0 auto;
}

.absolute {
    position: absolute;
}

.full-screen-height {
    height: 100vh;
}

.text-title {
    font-size: 1.875rem;
}

.text-center {
    text-align: center;
}

.gap-small {
    gap: 12px;
}
