* {
    box-sizing: border-box;
    position: relative;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    transition: .2s;
}

::selection {
    background: gray;
    color: white;
}

body {
    background-color: var(--background);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

body.dark-mode {
    --background: #161616;
    --fore-background: #424242;
    --text-primary: #FFFFFF;
    --text-secondary: #B0B0B0;
    --primary-accent: #1976D2;
    --secondary-accent: #FFA000;
    --primary-button: #1976D2;
    --secondary-button: #FFA000;
    --border: 1px solid #616161;
}

body.light-mode {
    --background: #FAFAFA;
    --fore-background: #FFFFFF;
    --text-primary: #171717;
    --text-secondary: #666666;
    --primary-accent: #2196F3;
    --secondary-accent: #FFC107;
    --primary-button: #2196F3;
    --secondary-button: #FFC107;
    --border: 1px solid #00000014;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.content {
    height: max-content;
    width: max-content;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center-parent {
    align-items: center;
    justify-content: center;
}

.center-children {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-x {
    margin: 0 auto;
}

.absolute {
    position: absolute;
}

.full-screen-height {
    height: 100vh;
}

.text-title {
    font-size: 1.5rem;
    /* font-size: 1.875rem; */
}

.text-center {
    text-align: center;
}

.gap-small {
    gap: 8px;
}

.gap-medium {
    gap: 16px;
}
