@media screen and (max-width: 767px) {
    .text-title {
        font-size: 24px;
    }
    
    .preloader .text-small {
        display: none;
    }

    .wide-screen-height {
        aspect-ratio: 3 / 4;
    }

    .row-responsive {
        flex-direction: column;
    }

    .responsive-none {
        display: none;
    }
}