@media screen and (max-width: 767px) {
    .text-title {
        font-size: 16px;
    }

    .preloader .text-small {
        display: none;
    }

    .wide-screen-height {
        aspect-ratio: 3 / 4;
    }

    .row-responsive {
        flex-direction: column;
    }

    .responsive-none {
        display: none;
    }

    #landing-page .text-typhograpy {
        font-size: 20vw;
        margin: -12px;
    }
}

@media screen and (min-width: 1080px) {
    .text-title {
        /* font-size: 32px; */
    }
}