@media screen and (max-width: 767px) {
    .padding-section {
        padding: 0 24px;
    }

    .text-large {
        font-size: 24px;
    }

    .row-responsive {
        flex-direction: column;
    }

    #preloader .preloader-title-word {
        font-size: 24px;
        transform: translateY(32.8px);
    }

    #landing-page .typhography {
        font-size: 30vw !important;
    }

    w #about-me-page .flex-1,
    .flex-2,
    .flex-3 {
        height: max-content;
        flex: content;
    }

    #my-work-page .wrapper.padding-medium {
        padding: 0 var(--medium);
        /* padding-right: none; */
    }

    #gallery-content .divider {
        width: 100%;
        flex: auto;
        height: max-content;
    }

    #gallery-content .divider:nth-child(1) {
        align-items: end;
    }

    #gallery-content .divider:nth-child(2) {
        align-items: start;
    }

}

@media screen and (min-width: 1080px) {}