/* Preloader + nav */
#preloader {
    z-index: 99;
    position: fixed;
    background: var(--background);
    transition: 500ms;
}

#preloader .preloader-title {
    font-size: var(--large);
    transition: 1s;
}

#preloader .preloader-dummy {
    position: absolute;
    background: #222;
}

#preloader .preloader-dummy.animation {
    animation: preloader-dummy 1s;
}

#preloader .preloader-title {
    overflow: hidden;
}

#preloader .preloader-title-word {
    font-size: var(--large);
    transform: translateY(30px);
    opacity: 0;
}

#preloader .preloader-title-word.animation {
    transform: translateY(0);
    opacity: 1;
    transition: 250ms;
}

#preloader .preloader-title-word.dummy.animation {
    opacity: 0;
}

@keyframes preloader-dummy {
    0% {
        bottom: 0;
        height: 0;
    }

    20% {
        height: 100vh;
    }

    50% {
        height: 100vh;
    }

    80% {
        height: 100vh;
    }

    100% {
        top: 0;
        height: 0;
    }
}

#preloader.nav {
    height: 0;
    transition: 500ms ease-in;
}

#preloader.nav .preloader-title.center-children {
    transition: 500ms ease-in;
    top: 0;
    left: 0;
    transform: translate(0);
    padding: var(--medium);
}

#preloader.nav .preloader-title-word {
    font-size: var(--medium);
}

#preloader #themes-mode .content {
    border-radius: 100px;
    cursor: pointer;
    gap: 4px;
    opacity: 0;
    transition: 250ms;
}

#preloader.nav #themes-mode .content {
    display: flex;
    opacity: 1;
    transition: 250ms;
}

body.light-mode #themes-mode .content {
    background: linear-gradient(145deg, #cacaca, #ffffff);
    box-shadow: 5px 5px 10px #bebebe,
        -5px -5px 10px #ffffff;
}

body.dark-mode #themes-mode .content {
    background: linear-gradient(145deg, #151515, #191919);
    box-shadow: 5px 5px 10px #090909,
        -5px -5px 10px #252525;
}


/* Landing Page */
#landing-page .typhography {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    text-transform: capitalize;
    font-size: calc(100vw / 8);
    margin: -8% 0;
}

#landing-page #typhography-image {
    transform: translate(-50%, 0);
}

#landing-page .text-small.absolute {
    top: 0;
    left: 50%;
    transform: translate(-50%, -48px);
}


/* About Me Page */
#about-me-page .wrapper {
    padding: 48px 0;
    border-top: 1px solid var(--border-color);
    /* border-bottom: 1px solid var(--border-color); */
}

#about-me-page .flex-3 .gap-medium {
    gap: 24px;
}


/* My Work Page */
#my-work-page.sticky_parent {
    height: 200vh;
}

#my-work-page .sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    /* border: 1px solid red; */
}

#my-work-page .scroll_section {
    position: absolute;
    top: 0;
    height: 100%;
    width: 200vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#my-work-page .wrapper.padding-medium {
    padding: 0 var(--medium);
    padding-right: calc(2 * var(--medium));
}

#my-work-page .gallery-photos {
    width: auto;
    height: auto;
    flex: 1;
    background: var(--text-secondary);
}

#gallery-content .divider {
    height: 100%;
    width: calc(100% / 2);
    gap: 16px;
}