#preloader.full-screen-height {
    height: 100vh;
    width: 100%;
    background: var(--background);
    transition: 1s ease;
    position: fixed;
}

#preloader.full-screen-height.nav {
    height: 0;
    transition: 1s ease;
    position: fixed;
    width: 100%;
}

#preloader-title {
    height: max-content;
    overflow: hidden;
    z-index: 99;
}

#preloader-title.active {
    height: max-content;
    transition: 1s;
}

#preloader-title.navbar-title.center-children.absolute {
    position: fixed;
    top: var(--medium);
    left: var(--medium);
    font-size: 16px;
    height: 22px;
    transform: translate(0, 0);
}

#bottom-content {
    opacity: 0;
    overflow: hidden;
}

#bottom-content .center-parent.space-between {
    align-items: end;
    justify-content: space-between;
}

#bottom-content .text-small {
    display: none;
}

#bottom-content.active {
    transition: .5s;
    opacity: 1;
    overflow: visible;
}

#scroll-down {
    aspect-ratio: 1 / 1;
    height: 50px;
    color: var(--text-secondary);
    opacity: 0;
    cursor: pointer;
}

#scroll-down:hover {
    background: red;
    color: var(--background);
    border: 1px solid red;
}


#scroll-down.active {
    opacity: 1;
}

#nav {
    position: fixed;
    top: 0;
}

#themes-mode {
    display: none;
    cursor: pointer;
    border-radius: 100px;
    transition: .2s;
    opacity: 0;
}

#themes-mode.active {
    display: flex;
    opacity: 1;
}

body.light-mode #themes-mode {
    background: linear-gradient(145deg, #cacaca, #ffffff);
    box-shadow: 5px 5px 10px #bebebe,
        -5px -5px 10px #ffffff;
}

body.dark-mode #themes-mode {
    background: linear-gradient(145deg, #151515, #191919);
    box-shadow: 5px 5px 10px #090909,
        -5px -5px 10px #252525;
}

#themes-mode.gap {
    gap: 4px;
}

#menu-toggle {
    right: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
}

#menu-toggle.active {
    width: max-content;
    opacity: 1;
}

#nav,
#preloader {
    z-index: 99;
}

#landing-page {
    padding-bottom: 4vw;
}

#landing-page .text-typhograpy {
    /* font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Open Sans', sans-serif; */
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    text-transform: capitalize;
    font-size: 10vw;
    margin: -8% 0;
    /* letter-spacing: -.25vw; */
}

#landing-page .text-small {
    top: -50px;
}

#object {
    z-index: 99;
    transform: translate(-50%, -32px);
}

/* #about-me .banner {
} */