#preloader.nav {
    transition: .5s;
    position: fixed;
    height: max-content;
    width: 100%;
}

#preloader-title {
    height: 0;
    overflow: hidden;
}

#preloader-title.active {
    height: 33px;
    transition: 1s;
}

#preloader-title.navbar-title.center-children.absolute {
    position: fixed;
    top: var(--medium);
    left: var(--medium);
    font-size: 16px;
    height: 22px;
    transform: translate(0, 0);
}

#bottom-content {
    opacity: 0;
    overflow: hidden;
}

#bottom-content .center-parent.space-between {
    align-items: end;
    justify-content: space-between;
}

#bottom-content.active {
    transition: .5s;
    opacity: 1;
    overflow: visible;
}

#scroll-down {
    aspect-ratio: 1 / 1;
    height: 50px;
    color: var(--text-secondary);
    bottom: 8px;
    opacity: 0;
    cursor: pointer;
}

#scroll-down:hover {
    background: var(--text-secondary);
    color: var(--background);
}


#scroll-down.active {
    opacity: 1;
}

#nav {
    position: fixed;
    top: 0;
}

#themes-mode {
    cursor: pointer;
    border-radius: 100px;
    opacity: 0;
}

#themes-mode.active {
    opacity: 1;
}

body.light-mode #themes-mode {
    background: linear-gradient(145deg, #e1e1e1, #ffffff);
    box-shadow: 7px 7px 14px #d5d5d5,
        -7px -7px 14px #ffffff;
}

body.dark-mode #themes-mode {
    background: linear-gradient(145deg, #141414, #181818);
    box-shadow: 7px 7px 14px #131313,
        -7px -7px 14px #191919;
}

#themes-mode.gap {
    gap: 4px;
}

#menu-toggle {
    right: 0;
    top: 0;
    width: 0;
    overflow: hidden;
}

#menu-toggle.active {
    width: 61px;
}